@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --bg-soft: #f5f5f5;
    --light: #ffffff;
    --dark-primary: #18191a;
    --dark-secondary : #242526;
    --dark-soft : #3a3b3c;
}
html{}
body{}

.header{
    z-index: 2001;
    transition: 0.5s;
    background-color: #ffffff;
}

.logo{
    width: 45px;
}
.round_C{
    border-radius: 8px !important;
}
.box-sha{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
.blog-item{
    transition: 0.5s;
}
.blog-item:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15 ) !important;
    transform: translateY(-5px) scale(0.99);
}
.shake{
    transition: 0.5s;
}
.shake:hover{
    transform: translateY(-5px);
}


.dark-mode{
    background-color: var(--dark-primary);
    transition: 0.5s;
}
.dark-mode .header{
    background-color: var(--dark-primary);
    z-index: 2001;
    transition: 0.5s;
    color: var(--light) !important;
}
.dark-mode .header .nav-link{
    color: var(--light) !important;
}

.dark-mode .blog-item{
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}

.dark-mode .blog-item::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--bs-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(0);
    transition: 0.5s;
}
.dark-mode .blog-item:hover:after{
    transform: scale(1);

}
.dark-mode .blog-item:hover{
    transform: translateY(-5px) scale(0.99);
}


.dark-mode .blog-title{
    color: #e8e8e8 !important;
}
.dark-mode .blog-text{
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.5) !important;
}
.dark-mode .form-control{
    background-color: #18191a !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}
.dark-mode .offcanvas{
    background-color: var(--dark-primary) !important;
}

/*for menu */
.menu-box{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item{
    width: 25px;
    height: 3px;
    background-color: var(--bs-primary);
    border-radius: 20px;
    transition: 0.5s;
    position: relative;
}

.menu-item::after, .menu-item::before{
    content: '';
    height: 3px;
    background-color: var(--bs-primary);
    border-radius: 20px;
    position: absolute;
    transition: 0.5s;
}

.menu-item::before{
    width: 30px;
    transform: translateY(-10px) translateX(-17px);

}

.menu-item::after{
    width: 20px;
    transform: translateY(10px) translateX(-7px);
}


.menu-ani .menu-item{
    background-color: transparent;
    transition: 0.5s;
    transform: translateX(20px) !important;
}

.menu-ani .menu-item::before{
    width: 30px;
    transform: rotate(-45deg) translate(-14px, -14px);
}

.menu-ani .menu-item::after{
    width: 30px;
    transform: rotate(45deg) translate(-14px, 14px);
}

/* menu end*/
.navbar-toggler{
    border: none !important;
    padding: 0 !important   ;
}
.navbar-toggler:active{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.nav-item{
    padding: 0 15px !important;
    position: relative;
    transition: 0.5s;
}
.nav-item::after{
    content: '';
    width: 80%;
    height: 2px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    background-color: #20adff;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(0);
    transition: 0.5s;
}
.nav-item:hover:after{
    transform: scale(1);
}

.active{
    color: #20adff !important;
}

/*.search-form{*/
/*    transition: 0.5s;*/
/*    margin-top: -100%;*/
/*    display: none;*/
/*    animation: showSearch 1s linear;*/
/*}*/
/*.show-search{*/
/*    transition: 0.5s;*/
/*    margin-top: 0%;*/
/*    display: block;*/
/*    animation: showSearch 1s linear;*/
/*}*/

/*@keyframes showSearch {*/
/*    from{*/
/*        transform: translateY(-20px);*/
/*    }*/
/*    to{*/
/*        transform: translateY(0px);*/
/*    }*/
/*}*/

/*for scroll */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bs-text-opacity);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bs-text-opacity);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00a2ff !important;
}

.search-form{
    width: 50%;
}
@media screen and (max-width: 780px){
    .navbar-nav{
        margin: 10px 0 !important;
    }
    .nav-item{
        padding: 10px 15px;
        border-radius: 10px;
        overflow: hidden;
    }
    .nav-item::after{
        width: 100%;
    }
    .search-form{
        width: 100%;
    }

}